.hero-item h2 {
  font-size: 4.8rem;
}

.download-btn{
  display: block;
  width: 500px;
  height: 120px;
  background-size: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url('../img/mygame/btn_download.png');
}

.download-btn:hover{
  background-image: url('../img/mygame/btn_download_hover.png');
}


.box-system-requirement{
  width: 900px;
  min-height : 600px;
  background-size: 100%;
  background-image: url('../img/mygame/Box_SystemRequirement.png');
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 170px;
  padding-left: 90px;
  padding-right: 70px;
}

.box-sr-content{

}

.box-system-requirement table{
  background: #1a1a1a;
  color: white;
}


.box-system-requirement table tr{
  margin: 0;
  padding: 0;
}

.box-system-requirement table tr td{
  padding: 1rem;
  border: 1px solid black;
}

.copyright-section{
	border-top: 4px solid #964040;
	padding: 2rem;
	box-sizing: border-box;
	background: #232323;
}
.copyright-section h2{
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 1rem;
}

.copyright-section h3{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.copyright-section h2, .copyright-section h3, .copyright-section p, .copyright-section li, .copyright-section a{
	color: #FFFFFF;
}

.copyright-section a:hover{
	color: #964040;
}


.copyright-section p{
	padding-top: 0.5rem;
	font-size: 1rem;
}
